{% extends "catalog/base.html" %}
<head>
{% load static %}
</head>
{% block content %}
<div class="row my-2 text-#19b7e3 text-center ">
        <h3>{{ name }}</h3>
</div>
<!-- Карусель-->
<div class="container-my">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/1.jpg' %} " class="d-block w-100 ">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-white">Мораль 21 века</h1>
                <h3 class="text-white">{{ rabl1 }}</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/2.jpg' %}"  class="d-block w-100 ">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-white">Думай и богатей</h1>
                <h3 class="text-white">{{ rabl2 }}</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/1.jpg' %}" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-white">???</h1>
                <h3 class="text-white">{{rabl3}}</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/1.jpg' %}" class="d-block w-100 ">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-white">???</h1>
                <h3 class="text-white">{{ rabl4 }}</h3>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>
</div>
<!-- Конец карусели-->
<div class="container-fluid">
<div class="row my-2 text-#19b7e3 text-center ">
        <h3>{{ text_head }}</h3>
</div>
    <div class="row my-2 text-white text-start">
        <div class="col mx-2 my-2 bg-black">{{ motiv1 }}</div>
        <div class="col mx-2 my-2 bg-black">{{ motiv2 }}</div>
        <div class="col mx-2 my-2 bg-black">{{ motiv3 }}</div>
        <div class="col mx-2 my-2 bg-black">{{ motiv4 }}</div>
    </div>
</div>
{% endblock %}