{% extends "catalog/base.html" %}
{% block title %}Главная страница{% endblock title %}
{% block content %}
    <div class="container-fluid my-2">
        <div class="row text-#19b7e3 mx-2">
            <div class="col text-center">
                <h4> Добро пожаловать на сайт «Моя библиотека». Это очень
                простой веб-сайт, написанный на Django и Bootstrap.
                Разработан на Python в качестве учебного примера с использование PyCharm.</h4>
            </div>
        </div>
        <div class="row text-center text-#19b7e3 lh-2">
            <h4> Сведения из базы данных </h4>
        </div>
        <div class="row my-2 text-white">
            <div class="col mx-2 bg-black"> Количество книг - {{ num_books }} </div>
            <div class="col mx-2 bg-black"> В наличии - {{ num_instances }}</div>
            <div class="col mx-2 bg-black"> Количество авторов - {{ num_authors }}</div>
        </div>
        <div class="row text-center text-#19b7e3 lh-2">
            <h3> Книги </h3>
        </div>
        {% if num_books > 0 %}
            <div class="row my-2">
                {% for obj in books %}
                    <div class="card" style="width: 9rem;">
                        <img src="{{ obj.photo.url }}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text small">
                                {{ obj.title}}, Цена:{{ obj.price}} руб.
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row text-center text-#19b7e3 lh-2">
            <h6>Это простой счетчик, для подсчета количества посещений - {{ num_visit }}</h6>
        </div>
    </div>
{% endblock content %}